* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
  
html {
    scroll-behavior: smooth;
}

.container {
    /* background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
}

.query img {
    width: 300px;
    border-radius: 10px;
}