* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
  
html {
    scroll-behavior: smooth;
    line-height: 1.5;
    font-size: 62.5%;
}

/* header */
.header h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: 700;
}

.nav a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.active {
    text-decoration: underline !important;
    font-weight: 700;
}

.title p {
    font-size: 80px;
    font-weight: 700;
}

/* content */
.content-about {
    font-size: 20px;
    margin-top: 85px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}